.title{
  text-transform: capitalize;
  margin: 1rem 3rem;
}
.main{
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 3px 10px 1px #e1e1e1;
  padding: 2rem 0rem;
}
ol > li{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 16px;
}

li > button{
  margin-top: 4px;
}